<form class="profile-edit-frame frame centered">
    <div class="form-content">
        {{#each fields}}
            <section class="form-element">
                <div class="form-input">
                    {{label}}
                    <input type="{{type}}" name="{{name}}" placeholder="{{placeholder}}">
                </div>
                <div class="invalid-message">
                    {{errorMessage}}
                </div>
            </section>
        {{/each}}
    </div>
    <div class="form-btn-container">
        <a href="profile.html">
            <button type="button" class="btn-left">CANCEL</button>
        </a>
        <a href="500.html">
            <button type="button" class="btn-right">SAVE</button>
        </a>
    </div>
</form>